<%= form_for @user,:url => sessions_path do |f|  %>
    <div class="form-group">
      <label class="control-label">Email</label>
      <%= f.text_field :email, :class=>"form-control input-lg",:placeholder => "Email address" %>
    </div>
    <div class="form-group">
      <label class="control-label">Password</label>
      <%= f.password_field :password, :class=>"form-control input-lg",:placeholder => "Password" %>
    </div>
    <%= f.submit :class=>"btn btn-primary pull-right",:value =>"LOGIN" %>
    <!--<a href="#" class="btn btn-facebook m-b-sm"><i class="fa fa-facebook pull-left"></i>Sign in with Facebook</a>-->
    <!--<a href="#" class="btn btn-twitter  m-b-sm"><i class="fa fa-twitter pull-left"></i>Sign in with Twitter</a>-->
<%end%>